@import 'media';
html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #FFFFFF;
}
body {
    min-width: 320px;
}
a {
    text-decoration: none;
    color: #333333;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container {
    max-width: 1110px;
    margin: auto;
}
.btn {
    padding: 17px 30px;
    width: 203px;
    height: 48px;
    align-items: center;
    background: #FB9475;
    border-radius: 24px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.navigation__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 28px;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    & .navigation__item {
        white-space: nowrap;
    }
    & .navigation__link:hover {
        color: #00BF78
    }
}
.header {
    background-image: url(../images/header-background.png);
    overflow: hidden;
    & .hamb {
        display: none;
    }
    & .container {
        position: relative;
        padding: 30px 0 130px 0;
    }
    &__top {
        display: flex;
        align-items: baseline;
        justify-content: space-between; 
        width: 100%;
        margin-bottom: 120px;
        & .header__logo {
            font-size: 24px;
            color: #333;
            font-weight: bold;
            text-decoration: none;
            white-space: nowrap;
        }
        & .phone-info {
            text-align: right;
            &__tel {
                display: block;
                font-weight: 500;
                font-size: 18px;
                line-height: 14px;
            }
            &__time {
                font-weight: 400;
                font-size: 11px;
                line-height: 14px;
            }
        }

    }
    &__hero {
        & .hero__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 58.51px;
            max-width: 548px;
        }
        & .hero__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 24.38px;
        }
    }
    &__girl {
        position: absolute;
        bottom:  -20px;
        right: 120px;
        z-index: 0;
        &::before {
            content: "";
            width: 472px;
            height: 472px;
            border-radius: 50%;
            background-color: #FB9475;
            position: absolute;
            bottom: -110px;
            right: 0;
        }
        & img {
            display: block;
            position: relative;
        }
    }
}
.about {
    margin-top: 94px;

    & .container {
        position: relative;
    }

    &__hero {
        max-width: 569.54px;

        & .about__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 58.51px;
        }

        & .about__subtitle {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }

        & .about__description {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }

    }

    &__creame {
        position: absolute;
        bottom: 0px;
        right: 0;
    }

    &__label {
        position: absolute;
        bottom: 25%;
        right: 25%;
    }
}
.advantages {
    text-align: center;
    margin-top: 104.49px;
    & .container {
        display: flex;
        flex-wrap: wrap;
    }

    &__frame {
        width: 33%;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
    }

    &__subtitle {
        text-align: center;
        flex-wrap: wrap;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}
.service {
    margin-top: 102px;
    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;
        padding: 0;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__card {
        max-height: 300px;
        max-width: 350px;
        margin-bottom: 88px;

        & .service__image {
            margin-bottom: 20px;
        }

        & .service__name {
            margin: 0;
            margin-bottom: 8px;
        }

        & .service__description {
            margin: 0;
            margin-bottom: 16px;
        }

        & .service--btn {
            width: 112px;
            height: 34px;
            padding: 10px 20px;
            background: #FB9475;
            border-radius: 17px;
        }

    }
}
.prices {
    margin-top: 100px;
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
    }

    &__list {
        display: flex;
        margin-bottom: 57px;
        padding-left: 0;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        & .prices__type {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
                text-decoration: underline;
            }
        
        }
      
    }
 

    &__checklist {
        // display: flex;
        display: none;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;

        & .prices__item {
            margin-bottom: 36px;
            margin-right: 50px;
            max-height: 51px;
            width: 444.12px;
            position: relative;
            &:not(:last-child) {
                margin-right: 28px;
            }

            & .prices__hair {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                    text-decoration: underline;
                }
            }

            & .prices__cost {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #00BF78;
                position: absolute;
                right: 0;
            }

            & .prices__description {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                margin-top: 8px;
            }

        }
    }  
  
}
.masters {
    margin-top: 100px;
    background-color: #F8F6F7;
    &__title {
        font-size: 48px; 
    }
    &__list {
        display: flex; 
        gap: 0 30px;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
}
.works {
    margin-top: 100px;

    &__title {
        font-size: 48px;
    }

    &__image {
        margin-right: 29px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
    }

    & .arrow-forward {
        position: relative;
        width: 0px;
        height: 0px;
        left: 1300px;
        bottom: 500px;
        opacity: 1;
        &:hover {
            opacity: 1;
        }
        &__angle {
            position: absolute;
            left: 15px;
            top: 32px;
            width: 24px;
            height: 24px;
            opacity: 0.3;
            border: 4px solid #00BF78;
            border-width: 0px 0px 5px 5px;
            transform: rotate(230deg);
        } 
        &__line::after {
            position: absolute;
            top: 43px;
            width: 40px;
            height: 5px;
            content: "";
            background-color: #00BF78;
            opacity: 0.3;
            transform: rotate(360deg);
            z-index: -5;
        }
    }
    & .arrow-reverse {
        position: relative;
        width: 0px;
        height: 0px;
        left: 1250px;
        bottom: 500px;
        opacity: 1;
        &:hover {
            opacity: 1;
        }
        &__angle {
            position: absolute;
            left: 0px;
            top: 34px;
            width: 24px;
            height: 24px;
            opacity: 0.3;
            border: 4px solid #00BF78;
            border-width: 0px 0px 5px 5px;
            transform: rotate(46deg);
        } 
        &__line::after {
            position: absolute;
            top: 43px;
            width: 40px;
            height: 5px;
            content: "";
            background-color: #00BF78;
            opacity: 0.3;
            transform: rotate(360deg);
            z-index: -5;
        }
    }
}
.brands {
    margin-top: 150px;
    opacity: 0.5;

    & h3 {
        text-align: center;
    }

    &__images {
        display: flex;
        justify-content: space-around;
    }

}
.contacts {
    height: 445px;
    margin-top: 100px;
    background-color: #F8F6F7;
    &__title {
        font-size: 48px; 
    }
    &__address {
        color: #278AFF;
        text-decoration: underline;
    }
    &__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-top: 32px;
    }
    & .container {
        position: relative;
    }
    & .menu {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        width: 445px;
        height: 406px;
        position: absolute;
        right: 0;
        top: 20px;
        &__container {
            padding-right: 35px;
           padding-left: 35px;
           padding-top: 40px;
           padding-bottom: 40px;

           & .menu__input {
                width: 375px;
                height: 44px;
                margin-bottom: 20px;
                // outline: 1px solid #666; 
            }

            & .menu__subtitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }

            & .menu__subbtn {
                font-weight: 300;
                font-size: 12px;
                line-height: 15px;
            }

            & .menu__subbtn2 {
                color: #278AFF;
                text-decoration: underline;
            }

            .btn--contacts {
                width: 375px;
                height: 48px;
            }
        }
    }
}
.footer {
    & .container {
        position: relative;
    }

    &__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.63px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.63px;
        color: #278AFF;
        text-decoration: underline;
    }

    &__navigation {
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 14.63px;
    }
}
.social {
    list-style: none;
    display: flex;
    &__item {
        cursor: pointer;
        opacity: 0.5;
    }

    &__item:hover {
        opacity: 1;
    }

    &__item:not(:last-child) {
        margin-right: 20px;  
    }

    &--vertical {
        display: block; 
        position: absolute;
        right: 0;
        bottom: 200px;
        & .social__item:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    
}

.popup__menu  {
    display: none;
}

.prices--active {
    display: flex;
}
.prices--selected {
    font-size: 16px;
    font-style: italic;
    color: red;
}
@media (max-width: 1000px) {

    .popup {
      position: fixed;
      top: 75px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }

    .popup.open {
      left: 0;
    }

    .popup .popup__menu {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      padding: 50px 0;
      overflow: auto;
    }

    .popup .popup__menu  > li {
      width: 100%;
    }

    .popup .popup__menu  > li > a {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      font-size: 20px;
      font-weight: bold;
      color: #3f3f3f;
    }

    .popup .popup__menu  > li > a:hover {
      background-color: rgba(122, 82, 179, 0.1);
    }
}  